<div class="content">
    <div class="product-add">
        <h1>Producten</h1>
        <a href="http://localhost/IJssalon/50249/admin/producten/add" class="add-button">+</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in producten %}
                <tr data-href="http://localhost/IJssalon/50249/admin/producten/{{ product.id }}">
                    <td data-label="ID">{{ product.id }}</td>
                    <td data-label="Image"><img src="view/image/{{ product.Image }}"></td>
                    <td data-label="Name">{{ product.Name }}</td>      
                    <td data-label="Stock">{{ product.Quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
