<div class="content">
    <div class="container">
        <form id="product-edit-form"  method="POST" enctype="multipart/form-data">
            <h2>Edit Product: {{ product.Name }}</h2>
                <div class="form-group">
                    <label for="product-image">Product Image:</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="product-image" name="image" value="{{ product.Image }}">
                                <label class="custom-file-label" for="product-image">Choose file</label>
                            </div>
                        </div>
                    <img id="preview-image" src="view/image/{{ product.Image }}" alt="Product Image Preview">
                </div>
                <div class="form-group">
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name" name="name" value="{{ product.Name }}">
                </div>
                <div class="form-group">
                    <label for="product-description">Product Description:</label>
                    <textarea id="product-description" name="description">{{ product.Description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="product-price">Product Price:</label>
                    <input type="number" id="product-price" name="price" value="{{ product.Price }}">
                </div>
                <div class="form-group">
                    <label for="product-quantity">Product Quantity:</label>
                    <input type="number" id="product-quantity" name="quantity" value="{{ product.Quantity }}">
                </div>
                <div class="form-group">
                    <label for="product-brand">Product Brand:</label>
                    <select class="form-control" id="product-brand" name="brand">
                        {% for brand in brands %}
                            {% if brand.id == product.Brand %}
                                <option value="{{ brand.id }}" selected>{{ brand.Name }}</option>
                            {% else %}
                                <option value="{{ brand.id }}">{{ brand.Name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="product-status">Product of the Day:</label>
                    <select id="product-status" name="flavourOfTheDay">
                        {% if product.FlavourOfTheday == 1 %}
                            <option value="1" selected>Enabled</option>
                            <option value="0">Disabled</option>
                        {% else %}
                            <option value="1">Enabled</option>
                            <option value="0" selected>Disabled</option>
                        {% endif %}
                    </select>
                </div>
            <button type="submit" name="product" class="btn">Save Changes</button>
            <button type="submit" name="delete" class="btn btn-delete">Delete</button>
        </form>
    </div>
</div>
