<div class="content">
    <h1>Order</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.Name }}</td>
                    <td>{{ order.Address }}</td>
                    <td>{{ order.City }}</td>
                    <td>{{ order.Type }}</td>
                    <td>{{ order.Date }}</td>
                    <td>{{ order.Status }}</td>
                    <td>{{ order.Created }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in producten %}
                <tr data-href="http://localhost/IJssalon/50249/admin/producten/{{ product.id }}">
                    <td data-label="ID">{{ product.id }}</td>
                    <td data-label="Image"><img src="view/image/{{ product.Image }}"></td>
                    <td data-label="Name">{{ product.Name }}</td>      
                    <td data-label="Stock">{{ product.Quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="post">
        <button type="submit" name="accept" class="btn">Accept</button>
        <button type="submit" name="cancel" class="btn-delete">Cancel</button>
    </form>
</div>
