<main class="order">
    <h2>Flavours</h2>
    <div>
        {% for product in producten %}
        <div>
            <a href="product/{{ product.id }}">
                <img src="view/image/{{ product.Image }}" alt={{ product.Name }}>
            </a>
            <a href="product/{{ product.id }}">
                <button>view</button>
            </a>
            <button class="order-button" data-id="{{ product.id }}">Order</button>
        </div>
        {% endfor %}
    </div>
</main>